[core]
    pager = delta --side-by-side

[interactive]
    diffFilter = delta --color-only

[user]
    email = jonas.ransjo@omegapoint.se
    name = Jonas Ransjö

[delta]
    navigate = true
    # features = line-numbers
    syntax-theme = TwoDark
    plus-emph-style = syntax "#1e5427"
    plus-style = syntax "#263731"
    minus-emph-style = syntax "#731d22"
    minus-style = syntax "#3d282f"
    file-decoration-style = blue box
    hunk-header-decoration-style = box "#444957"
    hunk-header-style = syntax line-number

[delta "one-window"]
    side-by-side = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
